Hello
\
= #{@user.first_name} #{@user.last_name}
\
You have been invited to Enroll app
Login to Enroll using the email address #{@user.email} and the password  #{@password}.
\
You may change the password once you log in.
\
If you are not the intended recipient of this message, you can safely disregard this email.