- content_for :title, 'Study Topics'

%h1 Topics

%table
  %thead
    %tr
      %th Name
      %th Owner
      %th.text-center Paid Studies
      %th.text-center Unpaid Studies
      %th.text-center Create Date
      %th

  %tbody
    - @topics.each do |topic|
      %tr.text-center
        %td.text-left= link_to topic.name, topic
        %td.text-left= link_to topic.owner.full_name, topic.owner
        %td= topic.studies.select(&:published?).length
        %td= topic.studies.reject(&:published?).length
        %td= l topic.created_at, format: :short
        %td.text-right= link_to 'Show', topic

= link_to 'New Topic', new_topic_path, class: 'success button'