- content_for :title, 'Forgot Your Password?'
- content_for :description, 'Use this form to request a password reset email.'

.grid-x.align-center
  .medium-6.large-4.cell
    %h2= yield :title

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = render 'devise/shared/error_messages', resource: resource
      = f.label :email
      = f.email_field :email, autofocus: true, autocomplete: 'email'

      .actions
        = f.submit 'Send me reset password instructions', class: 'button'

    = render 'devise/shared/links'