- content_for :title, 'Editing Sponsor'

%nav
  %ul.breadcrumbs
    %li
      = link_to 'Sponsors', sponsors_path
    %li
      = link_to @sponsor.name, @sponsor
    %li
      = yield :title

.grid-x.align-center
  .medium-6.large-4.cell
    %h1= yield :title

    = render 'form', sponsor: @sponsor