- content_for :title, @sponsor.name

%nav
  %ul.breadcrumbs
    %li
      = link_to 'Sponsors', sponsors_path
    %li
      = yield :title


%h1= yield :title

.secondary.callout
  .grid-x.grid-margin-x.small-up-2.medium-up-3
    .cell
      %small.subheader Create Date
      %div= l @sponsor.created_at, format: :short
    .cell
      %small.subheader Contact
      %div= @sponsor.contact
    .cell
      %small.subheader CRO
      %div= @sponsor.cro

%br

- @sponsor.topics.each do |topic|
  %p.lead #{fa_icon 'folder-open-o', text: topic.name} #{content_tag :small, link_to('edit', edit_topic_path(topic), class: 'clear warning button margin-0')}#{content_tag :small, link_to('Delete', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'clear alert button margin-0')}
  - if topic.studies.size.zero?
    = primary_callout do
      You have not created any studies for this topic.
      = link_to 'Create Study', new_study_path(topic_id: topic), class: 'small button'
  - else
    %table
      %thead
        %tr
          %th Name
          %th.text-center Sites
          %th.text-center Users
          %th.text-center Create Date
          %th.text-right= link_to 'Create Study yooo', new_study_path(topic_id: topic), class: 'small clear button margin-0'
      %tbody
        - topic.studies.each do |study|
          %tr.link{onclick: "Turbolinks.visit('#{study_path(study)}')"}
            %td= link_to study.name, study
            %td.text-center= study.sites.uniq.size
            %td.text-center= study.users.size
            %td.text-center= l study.created_at, format: :short
            %td.text-right= link_to 'Show', study, class: 'clear button'
  %br

.button-group
  = link_to 'New Topic', new_topic_path(sponsor_id: @sponsor), class: 'button'
  = link_to 'Edit Sponsor', edit_sponsor_path(@sponsor), class: 'warning button'
  = link_to 'Delete Sponsor', @sponsor, method: :delete, data: { confirm: 'Are you sure?' }, class: 'alert button'