= form_for study, remote: true, authenticity_token: true do |f|
  - if study.errors.any?
    .error-explanation
      %h2 #{pluralize(study.errors.count, 'error')} prohibited this study from being saved:
      %ul
        - study.errors.full_messages.each do |message|
          %li= message

  = f.hidden_field :topic_id

  .field
    = f.label :name, autofocus: true
    = f.text_field :name
  .field
    = f.label :topic
    = f.collection_select :topic_id, Topic.names, :id, :name, include_blank: true
  .field
    = f.label :inclusion_criteria
    = f.text_area :inclusion_criteria, rows: 10, value: (study.inclusion_criteria&.join("\n"))
  .field
    = f.label :exclusion_criteria
    = f.text_area :exclusion_criteria, rows: 10, value: (study.exclusion_criteria&.join("\n"))
  .field
    = f.label :protocol
    = f.text_field :protocol
  .field
    = f.label :agent
    = f.text_field :agent
  .field
    = f.label :mechanism
    = f.text_field :mechanism
  .field
    = f.label :side_effects

    = f.text_field :side_effects
  .field
    = f.label :administration
    = f.text_field :administration
  .field
    = f.label :randomization
    = f.text_field :randomization
  .field
    = f.label :duration
    = f.text_field :duration
  .field
    = f.label :assessment_frequency
    = f.text_field :assessment_frequency
  .field
    = f.label :interventions
    = f.text_field :interventions
  .field
    = f.label :sponsor_name
    = f.text_field :sponsor_name, value: study.sponsor_name || study.sponsor.try(:name)
  .field
    = f.label :sponsor_contact
    = f.text_field :sponsor_contact, value: study.sponsor_contact || study.sponsor.try(:contact)
  .field
    = f.label :cro_contact
    = f.text_field :cro_contact, value: study.cro_contact || study.sponsor.try(:cro)
  .field
    = f.label :budget
    = f.text_field :budget
  .field
    = f.label :enrolled_or_committed
    = f.text_field :enrolled_or_committed
  .field
    = f.label :comments
    = f.text_field :comments
  .button-group
    = link_to 'Cancel', study.new_record? ? study.sponsor || studies_path : study, class: 'secondary button'
    = f.submit class: 'button'