- content_for :title, 'Editing Study'

%nav
  %ul.breadcrumbs
    %li
      = link_to 'Studies', studies_path
    %li
      = link_to @study.name, @study
    %li
      = yield :title

.grid-x.align-center
  .medium-6.large-4.cell
    %h1= yield :title

    = render 'form', study: @study