- content_for :title, 'Studies'

%h1 Listing studies

%table
  %thead
    %tr
      %th Topic
      %th Nurse
      %th Name
      %th Protocol
      %th Agent
      %th Mechanism
      %th Side effects
      %th Administration
      %th Randomization
      %th Duration
      %th Assessment frequency
      %th Interventions
      %th Contact
      %th Honorarium
      %th Comments
      %th Published
      %th
      %th
      %th

  %tbody
    - @studies.each do |study|
      %tr
        %td= study.topic.name
        %td= study.nurse.try(:full_name)
        %td= study.name
        %td= study.protocol
        %td= study.agent
        %td= study.mechanism
        %td= study.side_effects
        %td= study.administration
        %td= study.randomization
        %td= study.duration
        %td= study.assessment_frequency
        %td= study.interventions
        %td= study.contact
        %td= study.honorarium
        %td= study.comments
        %td= study.published
        %td= link_to 'Show', study
        %td= link_to 'Edit', edit_study_path(study)
        %td= link_to 'Destroy', study, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Study', new_study_path