- content_for :title, @study.name

%p
  %b Topic:
  = @study.topic.name
%p
  %b Name:
  = @study.name
%p
  %b Protocol:
  = @study.protocol
%p
  %b Agent:
  = @study.agent
%p
  %b Mechanism:
  = @study.mechanism
%p
  %b Side effects:
  = @study.side_effects
%p
  %b Administration:
  = @study.administration
%p
  %b Randomization:
  = @study.randomization
%p
  %b Duration:
  = @study.duration
%p
  %b Assessment frequency:
  = @study.assessment_frequency
%p
  %b Interventions:
  = @study.interventions
%p
  %b Sponsor:
  = @study.sponsor
%p
  %b Sponsor Contact:
  = @study.sponsor_contact
%p
  %b CRO Contact:
  = @study.cro_contact
%p
  %b Budget:
  = @study.budget
%p
  %b Enrolled/Committed:
  = @study.enrolled_or_committed
%p
  %b Comments:
  = @study.comments
%p
  %b Published:
  = @study.published
%p
  %b Owner:
  = @study.owner.full_name

= link_to 'Edit', edit_study_path(@study)
\|
= link_to 'Back', studies_path