- content_for :title, @study.name

%h1= @study.name

.secondary.callout
  .grid-x.grid-margin-x.small-up-2.medium-up-4
    .cell
      %small.subheader Create Date
      %div= l @study.created_at, format: :short
    .cell
      %small.subheader Owner
      %div= link_to @study.owner.full_name, @study.owner
    .cell
      %small.subheader Topic
      %div= link_to @study.topic.name, @study.topic
    .cell
      %small.subheader Paid
      %div= 'Yes' if @study.published?

%br

.grid-x.grid-margin-x.small-up-1.medium-up-2
  .cell
    %h2 Inclusion Criteria

    %ul
      - @study.criteria.select { |criterion| criterion.kind == CriterionType::INCL }.each do |criterion|
        %li= criterion.text
  .cell
    %h2 Exclusion Criteria

    %ul
      - @study.criteria.select { |criterion| criterion.kind == CriterionType::EXCL }.each do |criterion|
        %li= criterion.text

%br

%p
  = link_to 'Edit Study', edit_study_path(@study), class: 'warning button'
  = link_to 'Delete Study', @study, method: :delete, data: { confirm: 'Are you sure?' }, class: 'alert button'

%p= link_to 'Back to Studies', studies_path