- content_for :title, 'Study Nurses'

%h1 Listing nurses

%table
  %thead
    %tr
      %th Full name
      %th Email
      %th Phone number
      %th Owner
      %th
      %th
      %th

  %tbody
    - @nurses.each do |nurse|
      %tr
        %td= nurse.full_name
        %td= nurse.email
        %td= nurse.phone_number
        %td= nurse.owner.full_name
        %td= link_to 'Show', nurse
        %td= link_to 'Edit', edit_nurse_path(nurse)
        %td= link_to 'Destroy', nurse, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Nurse', new_nurse_path