- content_for :title, @nurse.full_name

%p
  %b Full name:
  = @nurse.full_name
%p
  %b Email:
  = @nurse.email
%p
  %b Phone number:
  = @nurse.phone_number
%p
  %b Owner:
  = @nurse.owner.full_name

= link_to 'Edit', edit_nurse_path(@nurse)
\|
= link_to 'Back', nurses_path