.top-menu
  .grid-container
    .top-bar
      .top-bar-left
        %ul.menu
          %li.menu-text
            = APP[:website_name]
          - if admin_signed_in?
            %li{class: active?(sponsors_path)}
              = link_to 'Sponsors', sponsors_path
            %li{class: active?(sites_path)}
              = link_to 'Sites', sites_path
            %li{class: active?(studies_path)}
              = link_to 'Studies', studies_path
            %li{class: active?(users_path)}
              = link_to 'Users', users_path
          - if sponsor_signed_in?
            %li{class: active?(sponsor_path(current_sponsor))}
              = link_to 'My Profile', sponsor_path(current_sponsor)
      .top-bar-right
        %ul.menu
          - if admin_signed_in?
            %li{class: active?(admins_path)}
              = link_to 'Admins', admins_path
            %li{class: active?(edit_admin_registration_path)}
              = link_to 'Edit Profile', edit_admin_registration_path
            %li
              = link_to 'Sign Out', destroy_admin_session_path, method: :delete
          - elsif sponsor_signed_in?
            %li{class: active?(edit_sponsor_registration_path)}
              = link_to 'Edit Profile', edit_sponsor_registration_path
            %li
              = link_to 'Sign Out', destroy_sponsor_session_path, method: :delete
          - elsif defined?(resource) && !resource.respond_to?(:tokens?)
            %li{class: active?(new_admin_session_path)}
              = link_to 'Admin Sign In', new_admin_session_path
            %li{class: active?(new_sponsor_session_path)}
              = link_to 'Sponsor Sign In', new_sponsor_session_path

%br
